/* line 16, style.sass */
html, body {
  height: 100%;
}

/* line 19, style.sass */
body {
  background: url('/public/images/logo_x.png?1321740482') repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5d76ff), color-stop(100%, #c3ccff));
  background: url('/public/images/logo_x.png?1321740482') repeat, -webkit-linear-gradient(#5d76ff, #c3ccff);
  background: url('/public/images/logo_x.png?1321740482') repeat, -moz-linear-gradient(#5d76ff, #c3ccff);
  background: url('/public/images/logo_x.png?1321740482') repeat, -o-linear-gradient(#5d76ff, #c3ccff);
  background: url('/public/images/logo_x.png?1321740482') repeat, -ms-linear-gradient(#5d76ff, #c3ccff);
  background: url('/public/images/logo_x.png?1321740482') repeat, linear-gradient(#5d76ff, #c3ccff);
}

/* line 22, style.sass */
#container {
  margin: 0 auto;
  width: 602px;
}

/* line 26, style.sass */
#my-game {
  width: 602px;
  height: 402px;
  padding-top: 50px;
}
/* line 32, style.sass */
#my-game canvas {
  position: absolute;
  width: 600px;
  height: 400px;
  -moz-box-shadow: #5d76ff 0 0 5px 5px;
  -webkit-box-shadow: #5d76ff 0 0 5px 5px;
  -o-box-shadow: #5d76ff 0 0 5px 5px;
  box-shadow: #5d76ff 0 0 5px 5px;
  border: 1px solid white;
}

/* line 39, style.sass */
#fps {
  margin-top: 10px;
  color: #dde2ff;
  font-weight: bold;
}
